{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                <!-- Author -->
                <p class="lead">
                    by {{article.author.username}}
                </p>
                <hr>
                
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                <hr>
                
            </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
            
            {% endif %}
            
            
            <!-- Post content-->
            <section class="mb-5">
                <p>{{article.content|safe}}</p>
            </section>
            <hr>
            <h4>Yorumlar</h4>
            <hr>

            {% if comments %}
            {% for comment in comments %}
                <div class="media mb-4 ">
                    <div class="icon-container" 
                    style="    
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    margin-right: 10px;"
                    >
                        <img class="d-flex mr-3 rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnIzLd2AEYnEMBJWAhnZH5Gg9txQdwWZLVxQ&usqp=CAU" alt="..." 
                        style="
                        width: 100%;
                        height: auto;
                        display: block;"
                        />
                    </div>
                    
                    <div class="mt-0">
                        <h3>{{comment.comment_author}}</h3>
                        <div style="display: flex; align-items: center;">
                            
                            {{comment.comment_content}}
                        </div>
                        
                        <span class="pipe" style="color: #999; font-size: 14px; ">{{comment.comment_date}}</span>
                    </div>
                    
                    
                </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">İlk Yorum yapan siz olun...</div>
            {% endif %}

            
        </article>
        <section class="mb-5" style="margin-top:10px;">
            <div class="card bg-light">
                <h5 class="card-header">Yorum Ekle</h5>
                <form method ="post" action ="{% url 'article:comment' article.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">İsim</label>
                        <input name ="comment_author"type="text" class="form-control" id="formGroupExampleInput" placeholder="İsim giriniz...">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput"> Yorum</label>
                    <textarea name="comment_content" class="form-control" rows="3" placeholder="Yorum ekleyin..."></textarea>
                    </div>
                    
                    <!-- Comment form-->
                    <div class="mb-1 d-flex justify-content-end" >
                        <a button type="submit" class="btn btn-danger " href="{{request.META.HTTP_REFERER}}">Geri Dön</a>
                        <button type="submit" class="btn btn-danger ml-2">Ekle</button>
                    </div>
            </div>
                </form>
        </section>
    </div>
</div>





{% endblock body %}